@(title: String)(content: Html)
@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
	
		<nav>
			<table border="0" frame="vsides" rules="cols" cellpadding="5">
				<tr>
					<td>
						<a href="/recipes">Rezepte</a> 
					</td>
					<td>
						<a href="/meals">Essensplan</a>
					</td>
					<td>
						@form(routes.Application.logout) {
							<input type="submit" value="Abmelden" />
						}
					</td>
				</tr>
			</table>
		</nav>		

		@content
    </body>
</html>
