@(title: String)(content: Html)

@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
	
		<nav>
			<a href="/recipes">Rezepte</a> |
			<a href="/meals">Essensplan</a> |
			Einkaufsliste 
		</nav>
    
		<table>
			<tr>
				<td>
					@form(routes.Application.login) {
						<input type="submit" value="Login" />
					}
				</td>
				<td>
					@form(routes.Application.logout) {
						<input type="submit" value="Logout" />
					}
				</td>
			</tr>
		</table>

		@content
    </body>
</html>
