@(recipes: List[Recipe], searchForm: Form[RecipeFilter], tagOptions: Map[String, String])

@import helper._
@import tags._

@main("Essensplan") {
	
	@recipe_list_view(recipes, searchForm, tagOptions, (recipe: Recipe) => {
		var l = List[Html]().toBuffer
		l += form(routes.Application.recipe(recipe.id, "all")) { Html("""
						<input type='submit' value='öffnen' />
						""")}
		l+=	form(routes.Application.mealsNewDay(recipe.id)) { Html("""
						<input type='submit' value='auswählen' />
					""")}
		l.toList
	})("Rezept auswählen")
	
}