@(recipe: Recipe, preparationSteps: List[PreparationStep], preparationStepForm: Form[PreparationStep])

@import helper._

@main("Rezepte") {
    
	<h1>Zubereitung</h1>
	
	<table border="1">
		<tr>
			<th>Schritt</th>
			<th>Beschreibung</th>
			<th>Bild</th>
			<td> </th>
		</tr>
	
		@preparationSteps.map { preparationStep =>
			<tr>
				<td valign="top">@preparationStep.step</td>
				<td valign="top">@preparationStep.description</td>
				<td>
					@if(!preparationStep.imageRef.isEmpty) {
						<img src="@preparationStep.imageRef" alt="Schritt @preparationStep.step" width="250px"/> 
					} 
				</td>
				<td valign="top">
					@if(preparationStep.step == preparationSteps.size) {
						@form(routes.RecipeCreator.removePreparationStep(recipe.id, preparationStep.id)) {
							<input type="submit" value="entfernen" />
						}
					}
				</td>
			</tr>
		}	
	</table>
	</br>
	
	<fieldset>
		<legend>Neuer Zubereitungsschritt</legend>
		@form(routes.RecipeCreator.addPreparationStep(recipe.id)) {
			<input type="hidden" name="step" value="@(preparationSteps.size + 1)" />
			@textarea(preparationStepForm("description"), '_label -> "Anleitung")
			@inputText(preparationStepForm("imageRef"), '_label -> "Link zu einem Bild")
			
			<input type="submit" value="hinzufügen" />
		}
	</fieldset>
	
	<table>
		<tr>
			<td>	
				@form(routes.RecipeCreator.recipeIngredients(recipe.id)) {
					<input type="submit" value="zurück" />
				}	
			</td>
			<td>
				@form(routes.RecipeController.recipes) {
					<input type="submit" value="fertig" />
				}
			</td>
		</tr>
	</table>	
}