@(recipes: List[Recipe], searchForm: Form[RecipeFilter], tagOptions: Map[String, String])

@import helper._
@import tags._


@main("Rezepte") {
	
	@recipe_list_view(recipes, searchForm, tagOptions, routes.RecipeController.recipesQuery, (recipe: Recipe) => {
		var l = List[Html]().toBuffer
		l += form(routes.RecipeController.recipe(recipe.id, "all")) { Html("""
						<input type='submit' value='öffnen' />
						""")}
		l+=	form(routes.RecipeCreator.editRecipe(recipe.id)) { Html("""
						<input type='submit' value='bearbeiten' />
					""")}
		l+=	form(routes.RecipeCreator.removeRecipe(recipe.id)) { Html("""
						<input type='submit' value='entfernen' />
					""")}
		l.toList
	})("Rezepte")
	
	<table>
		<tr>
			<td>
				@form(routes.RecipeCreator.newRecipe) {
					<input type="submit" value="neues Rezept" />
				}	
			</td>
		</tr>
		<tr>
			<td>
				@form(routes.RecipeImport.importRecipe) {
					<input type="submit" value="Rezept importieren" />
				}
			</td>
		</tr>
		<tr>
			<td>
				@form(routes.RecipeController.copyRecipe) {
					<input type="submit" value="Rezept kopieren" />
				}
			</td>
		</tr>
		<tr>
			<td>
				@form(routes.TagController.tags) {
					<input type="submit" value="Stichwörter verwalten" />
				}
			</td>
		</tr>
	</table>
}